<div class="create-part">
  <form>
    <mat-form-field class="example-form-field">
      <input
        #createCommentInput
        matInput
        type="text"
        placeholder="Add comment"
        (keydown.enter)="onAddComment($event.target.value)"
      />
    </mat-form-field>
  </form>
</div>
