<div class="comments-container">
  <app-comments-list
    *ngIf="commentsData.length"
    [array]="commentsData"
  ></app-comments-list>
  <!-- CREATE MESSAGE PART BEGIN -->
  <div class="footer">
    <app-comment-create
      (created)="onCommentCreate($event)"
    ></app-comment-create>
  </div>
  <!-- CREATE MESSAGE PART END -->
</div>
