<div class="provider-body">
  <div class="content">
    <div class="filter-part">
      <form class="example-form">
        <mat-form-field>
          <mat-label>Providers</mat-label>
          <mat-select (selectionChange)="selectProviderEvent($event.value)">
            <mat-option
              *ngFor="let item of selectProviders"
              [value]="item.value"
            >
              {{ item.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <input
            matInput
            type="text"
            placeholder="Search"
            name="first"
            (input)="onSearchChange($event.target.value)"
            [disabled]="isDisabledSearchInput"
          />
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="description" *ngIf="!isShowTable">Please, choose provider.</div>
  <div class="result-part" *ngIf="isShowTable">
    <form>
      <div class="example-container mat-elevation-z8">
        <div
          class="example-loading-shade"
          *ngIf="isLoadingResults || isRateLimitReached"
        >
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          <div
            class="example-rate-limit-reached"
            *ngIf="isRateLimitReached"
          ></div>
        </div>

        <div class="example-table-container">
          <table mat-table
            [dataSource]="dataSource"
            class="example-table"
            matSort
            matSortActive="title"
          >
            <ng-container matColumnDef="checkbox">
              <th mat-header-cell *matHeaderCellDef></th>
              <td class="with-checkbox" mat-cell *matCellDef="let row">
                <section class="example-section">
                  <mat-checkbox
                    [name]="row.id"
                    class="example-margin"
                    [ngModel]="isFavorite(row.id)"
                    (change)="checkboxChange($event, row)"
                  ></mat-checkbox>
                </section>
              </td>
            </ng-container>

            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
              <td mat-cell *matCellDef="let row">{{ row.title }}</td>
            </ng-container>

            <ng-container matColumnDef="year">
              <th mat-header-cell *matHeaderCellDef>Year</th>
              <td mat-cell *matCellDef="let row">{{ row.year }}</td>
            </ng-container>

            <ng-container matColumnDef="poster">
              <th mat-header-cell *matHeaderCellDef>Poster</th>
              <td mat-cell *matCellDef="let row">
                <img [src]="row.poster" />
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let row">{{ row.name }}</td>
            </ng-container>

            <ng-container matColumnDef="region">
              <th mat-header-cell *matHeaderCellDef>Region</th>
              <td mat-cell *matCellDef="let row">{{ row.region }}</td>
            </ng-container>

            <ng-container matColumnDef="area">
              <th mat-header-cell *matHeaderCellDef>Area</th>
              <td mat-cell *matCellDef="let row">{{ row.area }}</td>
            </ng-container>

            <ng-container matColumnDef="currency_name">
              <th mat-header-cell *matHeaderCellDef>Currency name</th>
              <td mat-cell *matCellDef="let row">{{ row.currency_name }}</td>
            </ng-container>

            <ng-container matColumnDef="flag">
              <th mat-header-cell *matHeaderCellDef>Flag</th>
              <td mat-cell *matCellDef="let row"><img [src]="row.flag" /></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>

        <mat-paginator
          [length]="resultsLength"
          [pageSize]="10"
          [pageSizeOptions]="[10, 25, 50]"
        ></mat-paginator>
      </div>
    </form>
  </div>
</div>
