
.provider-body {

    .content {
        width: 700px;
        margin: auto;
  
        .filter-part {
            .example-form-field {
                width: 200px;
            }
  
            form {
                display: flex;
                justify-content: space-around;
            }
        }
    }
  
    .description {
        background-color: #d7fafa;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        font-size: 18px;
        width: 220px;
        margin: auto;
        border-radius: 5px;
        margin-top: 20px;
    }
    
    .result-part {
        width: 700px;
        margin: auto;
  
        /* Structure */
        .example-container {
            position: relative;
            min-height: 200px;
        }
  
        .example-table-container {
            position: relative;
            max-height: 400px;
            overflow: auto;
        }
  
        table {
            width: 100%;
            
            td.with-checkbox {
                padding-right: 14px;
            }

            img {
                width: 100px;
            }
        }
  
        .example-loading-shade {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 56px;
            right: 0;
            background: rgba(0, 0, 0, 0.15);
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
  
        .example-rate-limit-reached {
            color: #980000;
            max-width: 360px;
            text-align: center;
        }
  
        /* Column Widths */
        .mat-column-number,
        .mat-column-state {
            max-width: 64px;
        }
  
        .mat-column-created {
            max-width: 124px;
        }
    }
  }