.main {
  height: 100%;
  width: 100%;
  display: flex;

  .left-sidebar {
    width: 250px;
    min-width: 250px;

    .nav {
      margin: 7px 0;

      .nav-list {
        display: flex;
        flex-direction: column;

        a {
          &.active-link {
            background-color: grey;
            color: white;
          }

          text-decoration: blink;
          color: black;
          margin: 1px 0;
          padding: 10px;
        }
      }
    }
  }
}

.content {
  width: 100%;
}
