<div class="main">
  <section class="left-sidebar">
    <div class="nav">
      <div class="nav-list">
        <a [routerLink]="item.path" routerLinkActive="active-link" class="item" *ngFor="let item of MAIN_SIDEBAR_MENU_ITEMS">
            {{item.title}}
          <span *ngIf="item.id === MENU_ITEMS.FAVORITES && favoritesLength !== 0" [matBadge]="favoritesLength" matBadgeOverlap="false"></span>
        </a>
      </div>
    </div>
  </section>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
