<div class="provider-body">
  <div class="description" *ngIf="!isShowTable">
    There is no exist favorites.
  </div>
  <div class="result-part" *ngIf="isShowTable">
    <form>
      <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade" *ngIf="isLoadingResults">
          <mat-spinner></mat-spinner>
        </div>

        <div class="example-table-container">
          <table mat-table [dataSource]="dataSource" class="example-table">
            <ng-container matColumnDef="icon">
              <th mat-header-cell *matHeaderCellDef>Icon</th>
              <td mat-cell *matCellDef="let row"><img [src]="row.icon" /></td>
            </ng-container>

            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Title</th>
              <td mat-cell *matCellDef="let row">
                <div class="row-title">{{ row.title }}</div>
                <div class="comments-part">
                  <app-comments
                    [arrayComments]="row.comments"
                    (commentCreate)="onCommentCreate(row, $event)"
                  ></app-comments>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>

        <mat-paginator
          [length]="resultsLength"
          [pageSize]="10"
          [pageSizeOptions]="[10, 25, 50]"
        ></mat-paginator>
      </div>
    </form>
  </div>
</div>
