.header-of-comments {
    font-size: 10px;
    margin-bottom: 10px;
}

.list-of-comments {
    .comment-item {
        display: flex;
        margin: 2px 0;
        background-color: #ecf6ff;
        border-radius: 4px;
        padding: 6px;
        flex-direction: column;

        .comment-content {
            width: 100%;
        }

        .time {
            font-size: 11px;
            text-align: end;
        }
    }
}