<div class="header-of-comments">Comments: {{ arrayToShow.length }}</div>
<div class="list-of-comments">
  <div class="comment-item" *ngFor="let item of arrayToShow">
    <div class="time" title="{{ item.created_at * 1000 | date: 'full' }}">
      {{ item.created_at * 1000 | timeAgo | async }}
    </div>
    <div class="comment-content">{{ item.text }}</div>
  </div>
</div>
